<header>
    <h3>Presentation Slides</h3>
</header>
<article>
    <ul>
        <% _.each(slides, function(slide) { %>
        <li id="<%= slide.id %>" class="slide">
            <span><%= slide.attributes.title %></span>
            <button id="editslide" class="button">Edit slide</button>
            <button id="removeslide" class="button">Remove slide</button>
        </li>
        <% }); %>
    </ul>
</article>
<hr>
<footer>
    <nav>
        <button id="addslide" class="button">Add slide</button>
    </nav>
</footer>