<header>
    <h1>Presentation Slides</h1>
</header>
<section>
    <ul>
        <% _.each(slides, function(slide) { %>
        <li id="<%= slide.id %>" class="slide">
            <span><%= slide.title %></span>
            <button id="editslide" class="button">Edit slide</button>
            <button id="removeslide" class="button">Remove slide</button>
        </li>
        <% }); %>
    </ul>
</section>
<hr>
<footer>
    <menu>
        <button id="addslide" class="button">Add slide</button>
    </menu>
</footer>