body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 62.5%;
    width: 50%;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0;
}

body > nav {
    text-align: center;
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 3em;
}

nav li {
    display: inline;
}
menu {
    padding: 0.5em;
    margin: 0;
}

.slideshow menu {
    text-align: center;
}

.slideshow section {
    padding: 1em;
    min-height: 16em;
}

button {
    background-color: white;
    cursor: pointer;
}

.button {
    color: #2f4f4f;
    font-weight: bold;
    text-decoration: none;
    border: 0.2em solid #808080;
    border-radius: 0.5em;
    padding: 0.5em;
    display: inline-block;
}

.button:active, .button:focus {
    color: #00A000;
    border: 0.2em solid #00A000;
    text-decoration: none;
}

h4 {
    text-align: center;
    font-size: 1.6em;
}

.container {
    border: 0.1em solid black;
    border-radius: 1em;
    padding: 1em;
}

.home, .presentation span, .slideshow section, .button {
    font-size: 1.6em;
}

.slide input {
    min-width: 18em;
}

.slide input, .message {
    padding: 0.5em;
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.slide textarea {
    padding: 0.5em;
    font-size: 1.4em;
    width: 97%;
    min-height: 10em;
    margin-bottom: 0.5em;
    resize: none;
}

.message {
    float: right;
    font-weight: bold;
}

:-webkit-full-screen {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

:-webkit-full-screen header {
    padding-top: 0.1em;
}

:-webkit-full-screen footer {
    position: fixed;
    bottom: -5em;
    left: 0;
    right: 0;
}

:-moz-full-screen {
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

:-moz-full-screen header {
    padding-top: 0.1em;
}

:-moz-full-screen footer {
    position: fixed;
    bottom: -5em;
    left: 0;
    right: 0;
}

:fullscreen {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

:fullscreen header {
    padding-top: 0.1em;
}

:fullscreen footer {
    position: fixed;
    bottom: -5em;
    left: 0;
    right: 0;
}